extends layout

block content 
  div(class='wrapper item')
    div(class='product')
      img(src=`../images/${item.image}`, alt="")
      div(class='product_info')
        h2(class='product-name')= item.name
        p(class='product-description')= item.description
        a(href=`/inventory/sortBy-${item.category}`) 
          h4(class='product-category')= item.category
        h1(class='product-price')= `$${item.price}`

    button(class='delete' data-doc=`${item._id}`) DELETE
    button(class='edit' data-doc=`${item._id}`) EDIT

  script.
    const del = document.querySelector('.delete')
    const edit = document.querySelector('.edit')
    
    del.onclick = () => {
      const confirmPermissions = prompt("Input Admin Password");
      if (confirmPermissions === 'qwertY'){
        fetch(`/inventory/${del.dataset.doc}`, {
          method: 'DELETE'
        }).then(()=>{
          window.location.href = '/inventory'
        })
      } else {
        alert('Incorrect Password')
      }
    }

    edit.onclick = () => {
      const confirmPermissions = prompt("Input Admin Password");
      if (confirmPermissions === 'qwertY'){
          window.location.href = `/inventory/item-update-${edit.dataset.doc}`
      } else {
        alert('Incorrect Password')
      }
    }

